<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pagination Links - jQuery EasyUI Demo</title>
		<link rel="stylesheet" type="text/css" href="">
		<link rel="stylesheet" type="text/css" href="../themes/icon.css">
		<link rel="stylesheet" type="text/css" href="../demo.css">
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>

</head>
<script>
	var data={"<a href="#">this is a test","<a href="#">this is a test"};
	
	$(function(){
		$("#content").panel{
			data:data;
		}
	})
</script>

<body>

	<div id="content" class="easyui-panel" style="height:200px"
        data-options="href:'show_content.php?page=1'">

	</div>
	<div class="easyui-pagination" style="border:1px solid #ccc;"
	        data-options="
	            total: 2000,
	            pageSize: 10,
	            layout:['list','sep','first','prev','links','next','last','sep','refresh'],
	            onSelectPage: function(pageNumber, pageSize){
	                $('#content').panel('refresh', 'show_content.php?page='+pageNumber);
	            }">
	</div>
</body>
</html>